@media screen and (max-width: 750px) {
  .intro-section-container {
    height: max(33vh, 400px) !important;
  }
}
.intro-section-container {
  background-color: rgba(35, 27, 68, 0.5);
  background-image: url("../../assets/main-bg-house.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: min(70vw, 700px);
  z-index: 0;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.credabilty-graphics-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1.8vw;
  min-height: max-content;
  align-self: center;
  bottom: 0;
}

.credabilty-graphics {
  background-size: cover;
  height: 9vw;
  width: 7vw;
  margin-top: min(30vw, 100px);
}

.img-text-container {
  display: flex;
  width: 17%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: fit-content;
  text-align: center;
}

.tag {
  color: white;
}

.tag-line {
  margin-top: min(1vw, 10px);
  text-align: center;
  color: white;
  max-width: 80vw;
  font-size: 2vw;
}

.logo {
  width: 22.8vw;
  height: 13vw;
  margin-top: 5%;
}
